@import './theme.css';

body {
  font-family: 'Inter', sans-serif;
  background: var(--color-gray-50);
  color: var(--color-gray-900);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

p, span, label, input, button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}

code {
  font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
  background: #f7fafc;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}
